@page "/editforms"

<h1>Edit Forms and FluentValidation</h1>

<EditForm Model="BlogPostModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    
    <div class="row mt-4">
        <label for="title">Title</label>
        <InputText id="title" @bind-Value="BlogPostModel.Title" class="form-control"/>
    </div>
    <div class="row mt-4">
        <label for="slug">Slug</label>
        <InputText id="slug" @bind-Value="BlogPostModel.Slug" class="form-control"/>
    </div>
    <div class="row mt-4">
        <InputTextArea @bind-Value="BlogPostModel.Content" class="form-control" rows="10"/>
    </div>
    <div class="row mt-4">
        <button type="submit" class="btn btn-primary">Publish</button>
    </div>
    <div class="row mt-4">
        <ValidationSummary />
    </div>

</EditForm>

@code {
    protected BlogPost BlogPostModel { get; set; } = new BlogPost();

    protected void HandleValidSubmit()
    {
        Console.WriteLine("Valid submit!");
        Console.WriteLine("Your title: " + BlogPostModel.Title);
        Console.WriteLine("Your slug: " + BlogPostModel.Slug);
        Console.WriteLine("Your content: " + BlogPostModel.Content);
    }
}